* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Red Hat Text', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f3ef;
}

#form {
    width: 80%;
    max-width: 500px;
    margin-bottom: 5%; /* Adjusted margin for responsiveness */
}

    #form input {
        width: 100%;
        padding: 10px;
        border: none;
        outline: none;
        text-align: center;
        border-bottom: navy solid 3px;
        background-color: white;
        box-shadow: 3px 3px 3px #b8e3f9;
    }

#button {
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: navy;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 3px 3px 3px #b8e3f9;
}

    #button:hover {
        transform: translateY(-2px);
    }

.timer {
    display: flex;
    color: #34495e;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dcontainer,
.hcontainer,
.mcontainer,
.scontainer {
    width: 45%;
    margin: 2%;
    padding: 4%;
    box-shadow: 10px 10px 5px #b8e3f9;
    transition: transform 0.3s;
}

    .dcontainer:hover,
    .hcontainer:hover,
    .mcontainer:hover,
    .scontainer:hover {
        transform: translateY(-7px);
    }

.text {
    font-size: 6vw;
    margin: 0 2vw;
    line-height: 1;
    font-weight: bold;
}

h2,
h3 {
    color: navy;
    text-align: center;
}

    h2 span {
        color: navy;
    }
